---
import "@/styles/global.css"
import "@fontsource-variable/geist"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Nexus</title>
  </head>
  <body class="font-[Geist_Variable,sans-serif] antialiased">
    <slot />
  </body>
</html>
